/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
a{
    text-decoration: none;
    color:black;
    font-weight: 600;
}
a:hover{
    text-decoration: underline;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header{
    display:flex;
    padding:10px;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}
main{
    width:100dvw;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
}
section{
    width:100dvw;
    max-height:100dvh;
}
button{
    color:white;
    background: black;
    border: none;
    border-radius: 3pt;
    outline:none;
    padding:5pt 10pt;

}
footer{
    width:100dvw;
    padding:10pt;
    text-align:center;
}
#container{
    min-height:100dvh;
    min-width:100dvw;
    display:flex;
    flex-direction:column;
}
.logo{
    width:12rem;
}
.aBtn {
    display:flex;
    flex-direction: row;
    font-weight: 600;
    padding: 5pt 10pt;
    align-items: center;
    background:#000;
    color:#fff;
    border-radius: 3pt;
    text-transform: uppercase;
    font-size:10pt;
}
.mission{
    display:grid;
    height:95dvh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.mission_text{
    grid-area: 1 / 1 / 5 / 6; 
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.callout{
    grid-area: 5 / 1 / 6 / 6;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:10pt;
    background-color:#00c3ff;
    color:#fff;
}
.tiles{
    grid-area: 6 / 1 / 8 / 6;
    display:flex;
    width:100dvw;
    flex-direction:row;
    justify-content: space-evenly;
}
.tiles div{
    width:50dvw;
    background-color: gray;
    /* padding:25pt; */
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}

.contact{
    display:grid;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    height:100dvh;
}

.contact_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact_text a{
    color:black;
    font-weight:600;
}
.contact_buttons{
    width:100dvw;
    display: flex;
    justify-content: center;
    gap:20pt;
}
.contact_buttons button{
    display:flex;
    flex-direction: row;
    font-weight: 600;
    padding: 5pt 10pt;
    align-items: center;
    
}
.contact_buttons img{
    margin-right:10pt;
}
.copyright{
    font-size:8pt;

}

/* modal creation */
.wrapper {
  
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* End center */
  /* background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
  background: linear-gradient(to right, #834d9b, #d04ed6); */
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  font-size:10pt;
  padding: 5pt 10pt;
  background-color: #000;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  /* font-family: 'Roboto', sans-serif; */
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
  
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
    display: flex;
    justify-content:center;
    flex-direction: column;
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  min-width: max-content;
  background: #fff;
  padding: 1em 2em;
  text-align: center;
}

.modal__footer {
  text-align: right;
  a {
    color: #585858;
  }
  i {
    color: #d02d2c;
  }
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}